.content {
    background-color: #cccccc;
    padding: 48px 0px;
    display: flex;
    justify-content: center;
    height: auto;
    flex: 1;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100%;
        .content-title {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            font-family: 'Heebo', sans-serif;

            .content-title-block {
                width: 67px;
                margin-left: 10px;
                height: 67px;
                background: #0071bc;
                color: #fff;
                font-size: 21px;
                line-height: 20px;
                font-weight: 700;
                direction: rtl;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .content-text {
            direction: rtl;
            font-weight: 500;
            line-height: 20px;
            &-header {
                font-size: 24px;
                margin-top: -4px;
            }
            &-small {
                font-size: 14px;
                margin-top: 5px;
            }
            &-subtitle {
                font-size: 18px;
                margin-top: 10px;
            }
        }
        .content-layout {
            display: flex;
            padding-top: 12px;
            padding-left: 4px;
            width: 100%;
            .content-sidebar {
                background: #fff;
                height: 467px;
                width: 30%;
            }
            .content-main-wrapper {
                display: flex;
                flex-direction: column;
                flex: 1;
                .content-main {
                    flex: 1;
                    background: #000;
                }
                .content-annotation {
                    width: 100%;
                    height: 31px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 300;
                    font-family: 'Heebo', sans-serif;
                    background: #3fa9f5;
                    color: #fff;
                }
            }
        }
        .content-links {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding-top: 20px;
            padding-left: 15px;
            &-list {
                display: flex;
                li {
                    list-style: none;
                    margin-right: 21px;
                    cursor: pointer;
                    img {
                        width: 33px;
                        height: 33px;
                        object-fit: cover;
                        
                        &.invert {
                            filter: invert(100%);
                        }
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                }
                &.negative {
                    margin-top: -5px;
                }
            }
            
        }
    }
}